In [1]:
import glob
import os
import pandas as pd
import numpy as np
import itertools
import pandas_profiling as pdp

In [2]:
# 指定したファイルパスのcsvファイルを全部読み込む関数
def read_csv_all(target_path = '../input/'):
    for file in glob.glob(target_path+'*.csv'):
        file_name = file.replace(target_path,'').replace('.csv','')
        exec('{} = pd.read_csv(\'{}\')'.format(file_name, file), globals())
        print('read {} as {}'.format(file, file_name))

In [3]:
# 指定したファイルパスのcsvファイルを全部読み込む関数（train用）
def read_csv_train(target_path = '../input/train/'):
    dfs = [pd.read_csv(f) for f in glob.glob(target_path+'*.csv')]
    finaldf = pd.concat(dfs, axis=0).sort_index()
    return finaldf

In [4]:
read_csv_all()

read ../input/test.csv as test
read ../input/sample_submission.csv as sample_submission

In [5]:
df = read_csv_train()

/Users/hojokenta/.local/share/virtualenvs/chuko_manshion-h4ev_jwl/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3319: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.head()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,40108844,中古マンション等,NaN,40218,福岡県,春日市,昇町,博多南,23,３ＬＤＫ,...,NaN,NaN,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
0,27157860,中古マンション等,NaN,27128,大阪府,大阪市中央区,南船場,長堀橋,4,オープンフロア,...,NaN,NaN,NaN,商業地域,80.0,800.0,2009年第２四半期,未改装,NaN,6.812913
0,12118569,中古マンション等,NaN,12204,千葉県,船橋市,前原西,津田沼,14,３ＬＤＫ,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2009年第４四半期,未改装,NaN,7.204120
0,6021365,中古マンション等,NaN,6203,山形県,鶴岡市,錦町,鶴岡,3,３ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,400.0,2011年第１四半期,未改装,NaN,7.342423
0,7043732,中古マンション等,NaN,7203,福島県,郡山市,桑野,郡山(福島),30分?60分,３ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2008年第１四半期,未改装,NaN,7.000000

In [ ]:
pdp.ProfileReport(df)

In [7]:
test.head()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,今後の利用目的,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等
0,1000000,中古マンション等,NaN,1101,北海道,札幌市中央区,旭ケ丘,円山公園,26,３ＬＤＫ,...,住宅,NaN,NaN,NaN,第１種低層住居専用地域,40.0,60.0,2020年第２四半期,未改装,NaN
1,1000056,中古マンション等,NaN,1101,北海道,札幌市中央区,大通西,西１１丁目,1,２ＬＤＫ,...,住宅,NaN,NaN,NaN,商業地域,80.0,600.0,2020年第１四半期,未改装,NaN
2,1000108,中古マンション等,NaN,1101,北海道,札幌市中央区,大通西,西１８丁目,2,１Ｒ,...,住宅,NaN,NaN,NaN,商業地域,80.0,400.0,2020年第２四半期,未改装,NaN
3,1000109,中古マンション等,NaN,1101,北海道,札幌市中央区,大通西,西１８丁目,2,１ＬＤＫ,...,住宅,NaN,NaN,NaN,商業地域,80.0,400.0,2020年第２四半期,改装済,NaN
4,1000110,中古マンション等,NaN,1101,北海道,札幌市中央区,大通西,西１８丁目,3,１Ｒ,...,住宅,NaN,NaN,NaN,商業地域,80.0,400.0,2020年第２四半期,NaN,NaN

In [8]:
sample_submission.head()

        ID  取引価格（総額）_log
0  1000000             0
1  1000056             0
2  1000108             0
3  1000109             0
4  1000110             0

In [9]:
# 最寄り駅：距離の中身を確認
df['最寄駅：距離（分）'].unique()

array(['23', '4', '14', '3', '30分?60分', '11', '15', '10', '29', nan, '2',
       '8', '7', '12', '5', '9', '16', '1H?1H30', '26', '21', '13', '22',
       '25', '18', '20', '6', '19', '24', '17', '28', '1', '2H?',
       '1H30?2H', '27', '0'], dtype=object)

'30分?60分''1H?1H30''2H?''1H30?2H'  
30分以上の距離は丸めても良さそう

In [10]:
# testデータも最寄り駅：距離の中身を確認
test['最寄駅：距離（分）'].unique()

array(['26', '1', '2', '3', '0', '4', '6', '5', '7', '11', '8', '12', '9',
       '13', '10', '30分?60分', '15', '14', '19', '18', '21', '23', '24',
       '22', '28', '25', '29', '17', '20', '16', '2H?', '1H?1H30',
       '1H30?2H', '27', nan], dtype=object)

testと同じ値を取りそう

In [11]:
# 面積の中身を確認
df['面積（㎡）'].unique()

array(['70', 35, 65, 75, 55, 20, 50, '65', 80, 45, '15', 70, '55', '90',
       40, 95, 15, 60, '75', 25, 30, '50', 85, '95', 90, 100, 155, '80',
       '60', 105, 115, '45', '35', '120', '140', '25', '85', 120, '20',
       '30', 110, 135, '100', '40', '115', 125, 310, '105', 10, 570,
       '110', 175, '160', '130', '10', 150, 130, 165, 740, 370, 160, 280,
       '2000㎡以上', 140, 350, 260, '170', 190, '125', '145', '150', 290,
       185, 480, 145, 180, '135', '470', 800, '830', 390, 230, 460, 220,
       '290', 170, 195, 650, 610, '710', '440', '270', '155', 500, 200,
       210, 760, '300', '180', 520, '165', 340, 970, '620', 250, '980',
       '820', 440, 600, '175', '730', '900', 680, 490, 690, 790, '210',
       '220', 330, '310', '185', 360, 710, '490', '340', 300, '195',
       '190', 470, 450, 670, '560', '330', '240', '200', '500', '250',
       '360', '520', '650', '400', '590', '320', '260', 530, '630', 860,
       1000, '410', 730, '780', 240, '350', 270, '230', '660', 380, '990',
       '450', '370', 550, '740', 540, '390', '510', 580, '760', 700, 1100,
       320, '280', 410, '480', 960, '1500', 430, 420, 1400, 510, 1300,
       660, 940, 770, 630, 590, 900, 400, 830, 780, 820, 720, 1500, 560,
       890, 1200], dtype=object)

2000m^2以上は2000で丸めて良さそう_

In [12]:
# testデータも面積の中身を確認
test['面積（㎡）'].unique()

array([  75,   55,   15,   45,   20,   60,   85,   40,   35,   65,   90,
         70,   95,  110,  105,  100,   80,   25,   30,  115,   10,  130,
         50,  170,  150,  125,  145,  200,  120,  140,  135,  210,  280,
        165,  175,  230, 1400,  180,  155,  160,  190,  310,  270,  220,
        760,  670,  185,  630])

testデータには2000m^2はないのでデータ加工は気にしなくて良い

In [13]:
# 建築年の中身を確認
df['建築年'].unique()

array(['平成16年', '昭和62年', '平成5年', '平成17年', '平成4年', '平成7年', '昭和63年',
       '昭和64年', '平成18年', nan, '昭和59年', '平成19年', '昭和47年', '昭和57年', '平成13年',
       '平成10年', '平成9年', '平成22年', '平成3年', '昭和49年', '平成25年', '平成6年',
       '平成12年', '平成8年', '平成11年', '昭和50年', '平成2年', '昭和53年', '平成21年',
       '平成24年', '平成26年', '昭和55年', '昭和48年', '昭和54年', '平成14年', '昭和58年',
       '平成15年', '平成31年', '平成27年', '平成20年', '昭和52年', '昭和56年', '昭和61年',
       '昭和51年', '昭和39年', '平成30年', '昭和45年', '昭和60年', '平成28年', '昭和46年',
       '平成23年', '平成29年', '戦前', '昭和21年', '令和2年', '昭和43年', '昭和41年', '昭和42年',
       '昭和28年', '昭和44年', '昭和27年', '昭和40年', '昭和38年', '昭和37年', '昭和23年',
       '昭和29年', '昭和22年', '昭和26年', '昭和34年', '昭和35年', '昭和24年', '昭和25年',
       '昭和33年', '昭和36年', '昭和31年', '昭和32年', '昭和30年'], dtype=object)

綺麗に平成と昭和で別れてる

In [14]:
# testデータも建築年の中身を確認
test['建築年'].unique()

array(['昭和64年', '平成28年', '平成3年', '昭和56年', '昭和59年', '平成23年', '昭和52年',
       '昭和60年', '昭和61年', '平成27年', '平成19年', '平成25年', '昭和49年', '平成15年',
       '平成2年', '平成20年', '平成21年', '平成24年', '平成13年', '平成14年', '昭和62年',
       '平成11年', '平成12年', '平成6年', '平成18年', '平成30年', '平成8年', '平成16年',
       '昭和54年', '昭和63年', '平成10年', '昭和50年', '昭和51年', '昭和45年', '平成17年',
       '平成26年', '昭和57年', '平成31年', '昭和46年', '昭和55年', '平成9年', '昭和48年',
       '平成7年', '平成5年', '昭和53年', '平成4年', '昭和58年', nan, '平成22年', '戦前',
       '平成29年', '昭和47年', '令和2年', '昭和43年', '昭和39年', '昭和42年', '昭和44年',
       '昭和36年', '昭和40年', '昭和41年'], dtype=object)